.header {
  width: 100%;
  position: absolute;
  top: 40px;
  left: 0;

  &-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 0;
  }

  &-logo a {
    @extend .title;
    line-height: 38px;
  }

  &-photo {
    width: 80px;
    transform: translateY(10px) translateX(10px);
  }

  &-menu {
    display: flex;
    align-items: center;
    gap: 32px;

    a,
    p {
      @extend .text;
      cursor: pointer;
    }
  }

  &-right {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

//MEDIA QUERY

@media screen and (max-width: 900px) {
  .header {
    &-menu {
      display: none;
    }

    &-right {
      display: none;
    }
  }
}
