.home {
  width: 100%;
  min-height: 100vh;
  padding-top: 160px;

  .container {
    position: relative;
    top: 0;
    z-index: 10;
  }
  &-subtitle {
    @extend .title_l;
    margin: 120px 0 60px;
    text-align: center;
  }
  &-top {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    &-left {
      flex-grow: 1;
      h1 {
        @extend #{".title_xl", ".gradient_text"};
        display: block;
        line-height: 120%;
        margin-bottom: 20px;
      }
      p {
        @extend .text_l;
        width: 523px;
        line-height: 130%;
        margin-bottom: 42px;
      }
    }
  }
  &-introcards {
    display: flex;
    justify-content: center;
    gap: 37px;
    margin-top: 120px;
  }
  &-usage {
    display: flex;
    gap: 142px;
    justify-content: center;
    align-items: center;
    &-card {
      flex-grow: 1;
      p {
        font-weight: 400;
        font-size: 20px;
        line-height: 130%;
        color: $white;
      }
    }
  }
  &-about {
    width: 100%;
    display: flex;
    gap: 36px;
    flex-wrap: wrap;
    justify-content: center;
  }
  &-pricing {
    width: 100%;
  }
}

@import "introcard.scss";
@import "aboutcard.scss";
@import "pricingcard.scss";
@import "newscard.scss";

//MEDIA QUERY
@media screen and (max-width: 1450px) {
  .home {
    &-top {
      gap: 70px;
      &-left p {
        width: 100%;
      }
      &-right {
        & > div {
          width: 530px !important;
        }
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .home {
    &-usage {
      gap: 60px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .home {
    &-top {
      flex-direction: column;
      gap: 44px;
    }
    &-usage {
      gap: 60px;
      overflow-x: scroll;
      justify-content: flex-start;
      &::-webkit-scrollbar {
        width: 0;
      }
      &-card {
        width: 365px;
        flex-shrink: 0;
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .home {
    &-top {
      flex-direction: column;
      gap: 44px;
    }

    &-introcards {
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 680px) {
  .home {
    padding-top: 83px;
    &-top {
      &-left {
        h1 {
          margin-bottom: 16px;
        }
        p {
          margin-bottom: 38px;
        }
      }
      &-right {
        & > div {
          width: 100% !important;
          height: 250px !important;
        }
      }
    }

    &-introcards {
      margin-top: 80px;
      gap: 60px;
    }
  }
}

@media screen and (max-width: 450px) {
  .home {
    &-top {
      &-left {
        h1 {
          font-size: 40px;
        }
        p {
          font-size: 16px;
        }
      }
      &-right {
        & > div {
          height: 200px !important;
        }
      }
    }
    &-subtitle {
      margin: 90px 0 40px;
    }
    &-usage {
      gap: 24px;
      align-items: flex-start;
      &-card {
        width: 270px;
        svg {
          height: 220px;
          width: 270px;
        }
        p {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
    &-about {
      gap: 60px;
    }
  }
}
