.about {
  padding-top: 144px;
  font-family: 'Inter,sans-serif' !important;

  .container {
    position: relative;
    top: 0;
    z-index: 15;
  }

  &-top {
    gap: 20px;
    @extend #{".display_center"};

    &-left {
      @extend #{".display_center"};
      flex-direction: column;
      h1 {
        @extend .title_xl;
        @extend .gradient_text;
      }
      p {
        //width: 538px;
        padding-top: 20px;
        @extend .text_l;
      }
    }
  }

  //middle

  &-middle {
    &-top {
      display: flex;
      flex-direction: column;
      gap: 100px;
      &-box {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-element {
          margin: 49px 0 0 49px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin-right: 30px;

          &-heading {
            @extend #{".display_center"};
            @extend #{".title_l"};
          }

          &-paragraph {
            margin-top: 16px;
            @extend #{".display_center"};
            @extend #{".text_l"};
          }

          &-stat {
            display: flex;
            justify-content: space-between;
            margin: 100px 20px 0;

            &-pack {
              &-year {
                @extend #{".title_l"};
              }
              &-p {
                @extend #{".text_s"};
              }
            }
          }
        }
      }
    }
  }
}

//MEDIA QUERY

@media screen and (max-width: 1450px) {
  .about {
    &-top {
      &-right svg {
        width: 550px;
      }
    }

    &-middle {
      &-top {
        &-box {
          display: flex;
          flex-direction: column;
          justify-content: center;

          &-element {
            :last-child {
              margin-bottom: 20px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .about {
    &-top {
      &-right svg {
        width: 450px;
      }

      &-left {
        h1 {
          font-size: 50px;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .about {
    &-top {
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding-top: -60px;

      &-right svg {
        height: 450px;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .about {
    &-top {
      &-left {
        h1 {
          width: 330px;
          font-size: 25px;
        }

        p {
          width: 330px;
        }
      }
      &-right svg {
        height: 350px;
      }
    }

    &-middle {
      &-top {
        &-box img {
          width: 335px;
          height: 225px;
        }

        &-box {
          &-element {
            margin: 16px 0 0;

            &-stat {
              display: flex;
              flex-wrap: wrap;
              align-items: flex-start;
              margin: 40px auto;
              &-pack {
                width: 50%;
                &-year {
                  font-size: 24px;
                }

                p {
                  padding-top: 6px;
                  font-size: 13px;
                }
              }
            }
          }
        }
      }
    }
  }
}
